<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>My Markets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-content>
      <ion-grid>
  
        <ion-row>
          
          <ion-col>
            <h1>Card</h1>
          </ion-col>
    
        </ion-row>
        
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" slot="fixed" horizontal="end">
    <ion-fab-button (click)="newMarket()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>




</ion-content>
